@{
    ViewData["Title"] = "Success";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <p>Team "@ViewBag.TeamName" created. Copy the code below and paste it into the settings file of the prepared solution code. The code can no longer be retrieved after exiting this page.</p>
            <div class="alert alert-secondary">@ViewBag.Token</div>
            <a href="@Url.ActionLink("Index", "Home")" class="btn btn-primary">Back to dashboard.</a>
        </div>
    </div>
</div>
