@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">FLASHCODE</h1>
</div>

<div class="container mt-5">
    <div class="card">
        <table id="scoreboard" class="table">
            <thead>
                <tr>
                    <th scope="col">Place</th>
                    <th scope="col">Team</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                @* Filled with actual values through ajax call to API. *@
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-3">
    <div class="alert alert-info">
        Click team name to see submissions.
    </div>
</div>